# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workplaces\fruitShop-dev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
